/* Set the background color of the entire document */
body {
  background: #00b3e6
}

/* Style all <div> elements */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  padding: 30px;
}

/* Style the element with the id 'main header'*/
#main-header {
  font-size: 22px;
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  font-style: italic
}
